@import "base.css";
@import "components.css";
@import "utilities.css";
@import "gallery.css";

#intro .img img {
    width: 100%;
    position: relative;
    -webkit-mask: url(/assets/img/clip.webp);
    mask: url(/assets/img/clip.webp);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    border-radius: 4px;
    cursor: grab;
  }

  #intro-p {
    font-weight: bold;
  }
  
  #intro-p:hover {
    color: #68d372;
    display: inline-block;
    animation: rubberBand;
    animation-duration: 1s;
    transition: color 0.4s ease-in-out;
  }
  